.three-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(234, 168, 236, 1);
  background: rgb(255, 191, 248);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(222, 79, 207, 1) 97%
  );
}
